@import './base.css';

#app {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
}

button {
  height: 44px;
  border-radius: 3rem;
  border: none;
  font-family: unset;
  font-size: xx-large;

  display: flex;
  justify-content: center;
  align-items: center;
}